<h1 mat-dialog-title class="d-flex justify-content-center">Are you sure?</h1>
<div
  mat-dialog-content
  [ngClass]="!(data && data.isRemarkRequired)?'d-flex justify-content-center':''"
>
  <p class="my-0 py-0" *ngIf="!headerLabel">Do you want to cancel?</p>
  <p class="my-0 py-0" *ngIf="headerLabel">{{headerLabel}}</p>
  <mat-form-field class="my-0 py-0" *ngIf="data && data.isRemarkRequired">
    <mat-label *ngIf="!remarkLabel">Remark: </mat-label>
    <mat-label *ngIf="remarkLabel">{{remarkLabel}}: </mat-label>
    <input *ngIf="remarkLabel" matInput [(ngModel)]="remark" />
    <textarea *ngIf="!remarkLabel" matInput [(ngModel)]="remark" ></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex justify-content-around">
  <button mat-button  (click)="onClick(true)">Yes</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="onClick(false)">
    No
  </button>
</div>
