<!-- <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title> -->

<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search By Name">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
  <ng-container matColumnDef="businessName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Business Name </th>
    <td mat-cell *matCellDef="let element"><a
      style="cursor: pointer;"
      [routerLink]="['../view-tap']"
      fragment="{{ element.id }}"
      > {{element.businessName}} </a></td>
  </ng-container>

  <ng-container matColumnDef="gst">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> GST Detail </th>
    <td mat-cell *matCellDef="let element"> {{element.gst}} </td>
  </ng-container>
  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
    <td mat-cell *matCellDef="let element"> {{element.contact?.mobile}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.contact?.email}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let element">
      {{ element?.verificationState?.toString() | uppercase }}
    </td>
  </ng-container>
  <ng-container matColumnDef="verifyBusiness">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
    <td mat-cell *matCellDef="let element">
      <ng-templete>
        <a
          *ngIf="element?.verificationState?.toString() == 'PENDING'"
          aria-hidden="true"
          (click)="verifyAndUpdateBusiness(element, false)"
          style="
            color: rgb(0, 0, 0);
            cursor: pointer;
            text-decoration: underline;
          "
        >
          Verify
        </a>
        <a
          *ngIf="element?.verificationState?.toString() == 'VERIFIED'"
          aria-hidden="true"
          (click)="verifyAndUpdateBusiness(element, false)"
          style="
            color: rgb(0, 0, 0);
            cursor: pointer;
            text-decoration: underline;
          "
        >
          Update
        </a>
        <a
          *ngIf="
            element?.verificationState?.toString() == 'REJECT' ||
            element?.verificationState?.toString() == 'BLOCKED'
          "
          aria-hidden="true"
          (click)="verifyAndUpdateBusiness(element, true)"
          style="color: darkred; cursor: pointer"
          >Reject / Block
        </a>
      </ng-templete>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20, 25]">
</mat-paginator>